{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: rgb(199, 255, 254);">
    <div class="container">
      {% with request.resolver_match.kwargs.query_index as index %}
      <ul class="nav nav-pills">
        {% if request.user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link {% if index == 1 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 1 %}"> Запрос 1 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 2 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 2 %}"> Запрос 2 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 3 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 3 %}"> Запрос 3 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 4 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 4 %}"> Запрос 4 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 5 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 5 %}"> Запрос 5 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 6 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 6 %}"> Запрос 6 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 7 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 7 %}">Запрос 7 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 8 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 8 %}">Запрос 8 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 9 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 9 %}"> Запрос 9 </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if index == 10 %} active {% endif %}" 
          href="{% url 'warehouses:query_view' 10 %}"> Запрос 10 </a>
        </li>
        <li>
          Пользователь: {{ user.username }}
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'users:logout' %}"> Выйти </a>
        </li>
        {% endif %}
      {% endwith %}
      </ul>
    </div>
  </nav>
</header>